<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <title>FUZZAVER</title>
    <license file="LICENSE" />
    <options customize="never" require-scripts="false"/>
    <domains enable_anywhere="false" enable_currentUserHome="false" enable_localSystem="true"/>
    
    <choices-outline>
        <line choice="org.jaffco.fuzzaver.au.pkg"/>
        <line choice="org.jaffco.fuzzaver.vst3.pkg"/>
        <line choice="org.jaffco.fuzzaver.app.pkg"/>
    </choices-outline>
    
    <choice id="org.jaffco.fuzzaver.au.pkg" title="Audio Unit">
        <pkg-ref id="org.jaffco.fuzzaver.au.pkg"/>
    </choice>
    <choice id="org.jaffco.fuzzaver.vst3.pkg" title="VST3">
        <pkg-ref id="org.jaffco.fuzzaver.vst3.pkg"/>
    </choice>
    <choice id="org.jaffco.fuzzaver.app.pkg" title="Standalone Application">
        <pkg-ref id="org.jaffco.fuzzaver.app.pkg"/>
    </choice>
    
    <pkg-ref id="org.jaffco.fuzzaver.au.pkg">FUZZAVER.au.pkg</pkg-ref>
    <pkg-ref id="org.jaffco.fuzzaver.vst3.pkg">FUZZAVER.vst3.pkg</pkg-ref>
    <pkg-ref id="org.jaffco.fuzzaver.app.pkg">FUZZAVER.app.pkg</pkg-ref>
</installer-gui-script>